<button type="button" ng-click="show =!show"class="btn btn-info">Se CV og personalia</button>

<div ng-show="show" class="fade-in-out">

<div class="profileText">


<ul class="profileList">
<li><b>Age</b> 26</li>
<li><b>Hometown</b> Sokndal</li>
<li><b>Study</b> MTDT, NTNU</li>
<li><b>Company</b> Netlight</li>
</ul>

<br>

<div class="strenghtSectiion">
<p class="profileStrenghts"> <b>Strenghts:</b> Front-end, UX, Mobile-development, Angular, Agile Retrospectices</p>

 <a  href="resources/Netlight_CV_Alf_Magnus_lang.pdf" target="_blank">Here </a> you can have a look at my current Netlight CV
 </div>
</div>

<div class="profilePicture">
<img style="width:100%" src="images/Profil_Alf.jpg" alt="I'm Alf Magnus"><br>

</div>


</div>

