
<div id="container">
 
 <img id="image"src="images/Sokndal.jpg" alt="Sokndal strand" />

  <h2 id="text">Welcome to alfmags.no!</h2>

</div>


<div class="jumbotron">
  <h1>Hello!</h1>
  <p class="lead">
    <img style="width:64px" src="images/Profil_Alf.jpg" alt="I'm Alf Magnus"><br>
    Always looking for the next challenge
  </p>
</div>


<div class="row marketing">
  <h4>Front end</h4>
  <p>
   Looking for additional experience in the interesting world of front end development.
  </p>

  <h4>Mobile development</h4>
  <p>
    Experience in both android native and Xamarin.
  </p>

  <h4>Retrospectives</h4>
  <p>Internationally published on agile retrospectives (soon ).</p>
</div>
